body {
	margin: 0 auto;
}

.giveWrapper {
}

#giveButton {
	width: 120px;
	margin: 10px 0 10px 0;
}



 /* div .navBar{
	border: 2px dotted #ddd;
} just for keeping things organized */

div #nav-bg-color {
	/* border: 2px dotted #ddd; */
	height:60px;
	position: fixed;
}



/*.navbar {
	border: 3px dotted #ddd;
} */

 span {
	/*border: 1px solid #ddd; */
	height: 106px;
	display:inline;
}





.navBar {
	text-align: right;
	height: 60px;
	width: 100%;
	/* float:center; */
	margin: 0px auto 0px auto;
	position: fixed; 
	/*border: 1px solid red; */
}


.navBar #nav-logo {
	width: 60px;
	height: 58px;
}

.navBar li {
	list-style-type: none;
	display: inline;
	padding-right: 20px;
	line-height: 106px;
	font-size: 18px;
	font-family: helvetica;
	color: #fdfdfd;
	position: relative;
	
}

.navBar #nav-logo-position {
	float: left;
	/* background-color: white; */
	height: 106px;
}

.navBar #navHome {
	float: left;
	padding-left: 20px;
}

.navBar #navButtons li {
}

#vision{
	text-align: center;
	font-size: 32px;
	font-family: helvetica;
	width: 960px;
	margin: 10px auto 10px auto;
}

#address {
	text-align: center;
	font-family: helvetica;
	width: 960px;
	margin: 10px auto 10px auto;
}

#background-container {
	width: 100%;
	margin: 80px auto 0px auto;
	background-image: url("../Images/backgroundtest.png");
	background-repeat: no-repeat;
	background-size: cover;
	
}

#mainLogo {
	width:960px;
	margin: 0 auto 0 auto;
}

#nav-bg-color {
	background-color: #313036;
	width: 100%;
	margin-bottom: 20px;
	/* border: 1px solid #313036; */
}

#nav-bg-color li {
	line-height: 30px;
}

#bg-color-container {
	background-color: #3f3d45;
	margin-top: 0px;
	height: 300px;
}

#vision, #address {
	padding: 10px;
	color: #DDDDDD;
}


.user-boxes {
	width: 960px;
	margin: 100px auto 20px auto;
	border: 2px solid red;
}


#sermons {
	width: 200px;
	height: 246px;
	margin-right:40px;
	margin-left: 40px;
}

#email-list{
	width: 200px;
	height: 246px;
	margin-right: 80px;
	margin-left: 40px;
}

#calendar {
	width: 200px;
	height: 246px;
	margin-left: 40px;
	margin-right: 80px;
}

fieldset {

	height: 246px;
	background-color: #3f3d45;
	color: #DDDDDD;
}

.user-boxes #sermons, #email-list, #calendar {
	display: inline-block;
}

.bottom-page-container {
	width: 960px;
	margin: 120px auto 60px auto;
}

.map {
	width: 480px;
}

.map iframe {
}

#map-text {
	font-size: 16px;
	font-weight: bold;
	vertical-align: top;
	font-family: helvetica;
	display: inline-block;
	
}
 

footer {
text-align: left;
margin-left: 20px;
line-height: 5px;
color: #DDDDDD;
background-color: #232227;
}

footer p {
/*float: right; */

}

#copyright {
}
.social-networks {
 width: 300px;
 border: 2px solid blue;
 float: right;
 }
 
footer img {
 float: right;
 margin-right: 20px;
 margin-left: 20px;
 width: 35px;
height: 35px;
 }
 
#follow {
	font-family: helvetica;
	font-weight: bold;
	font-size: 16px;
	text-align: right;
	margin-right: 20px;
	line-height: 40px;
	vertical-align: top;
}
