body {
	margin: 0 auto;
}

/* div{
	border: 1px solid #ddd;
}
 span {
	border: 1px solid #ddd;
	height: 106px;
} */

.width {
	width: 100%;
}



.navBar {
	text-align: right;
	height: 106px;
	width: 100%;
	float:center;
	margin: 10px auto 0px auto;
	
}


.navBar #nav-logo {
	width: 80px;
	height: 77px;
	margin-top: 20px;
	
}

.navBar li {
	list-style-type: none;
	display: inline;
	padding: 10px;
	line-height: 106px;
	font-size: 28px;
	font-weight: bold;
	font-family: helvetica;
	color: #fdfdfd;
	
}

.navBar #nav-logo-position {
	float: left;
	background-color: white;
	height: 106px;
	margin-right: none;
	margin-right: none;
	line-height: 50px;
}

.navBar #navHome {
	float: left;
	padding-left: 10px;
}

.navBar #navButtons li {
}

#vision{
	text-align: center;
	font-size: 32px;
	font-family: helvetica;
	width: 960px;
	margin: 10px auto 10px auto;
}

#address {
	text-align: center;
	font-family: helvetica;
	width: 960px;
	margin: 10px auto 10px auto;
}

#background-container {
	width: 100%;
	margin: 0px auto 10px auto;
	background-image: url("../Images/backgroundtest.png");
	background-repeat: no-repeat;
	background-size: cover;
}

#mainLogo {
	width:960px;
	margin: 0 auto 0 auto;
}

#nav-bg-color {
	background-color: #313036;
	border: 1px solid #313036;
}